.submitPayment{
    background-color: #4cafa8; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the default button border */
    padding: 10px 20px; /* Adjust the padding to add spacing around the button text */
    text-align: center; /* Align the button text to the center */
    text-decoration: none; /* Remove any text decoration */
    display: inline-block; /* Display the button as an inline element */
    font-size: 16px; /* Set the font size */
    border-radius: 5px; /* Apply rounded corners to the button */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0); /* Set a gradient background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a box shadow to the button */
    transition-duration: 0.3s; /* Add a transition effect to smooth changes */
    width: 250px; /* Set the width of the button */
    height: 50px; /* Set the height of the button */
    background-color: #45A049; /* Change the background color on hover */
    margin-top: 20px; /* Add spacing between the button and the elements above it */
 }

 .ImagePayment{
 width: 250px; /* Set the width of the button */
    height: 500px; /* Set the height of the button */
   
 }
 .AbrechbungContainer{
    margin-left: 20px; /* Add spacing between the button and the elements above it */

 }
 .form-control{
   margin-right  : 10px;
 }