.board-admin {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}

.column {
  padding: 10px;
}

.column-left {
  background-color: rgba(173, 216, 230, 0.449);
}

.column-right {
  order: 2;
  align-self: flex-start; /* Set align-self to flex-start */
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0);
}

.row-result {
  margin-top: 10px;
}
.row-result {
  margin-top: 10px;
  justify-content: center; 
}
.column-fullwidth {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ImgOneReservation {
  margin-top: 10px;
  max-width: 90%; 
  max-height: 350px; 
  margin-bottom: 10px;
}

.ImgAllReservation {
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 90%;
  max-height: 350px;
}
.CarSearching {
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 90%;
  max-height: 400px;
}
.table-container {
  display: flex;
  flex-direction: row;
}

.UserTable {
  margin-right: 10px;
  margin-top: 15px;
}

.SearchUserButton {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #5c4caf, #4548a0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 150px;
  height: 40px;
  background-color: #45a049;
  margin-top: 10px;
  margin-left: 20px;
}

.showAllReservations {
  background-color: #4cafa8;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #5c4caf, #4548a0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 200px;
  height: 40px;
  background-color: #45a049;
  margin-left: 20px;
  margin-top: 10px;
}

.FetchAllUsers {
  background-color: #4cafa8;
  color: rgba(255, 255, 255, 0.696);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    #5c4caf,
    #4548a0
  ); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 150px;
  height: 40px;
  background-color: #45a049;
  margin-left: 20px;
}

.showReservationData {
  background-color: #4cafa8;
  color: rgba(255, 255, 255, 0.696);
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  background-image: linear-gradient(
    to bottom,
    #5c4caf,
    #4548a0
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s; 
  width: 200px; 
  height: 40px;
  background-color: #45a049;
  margin-left: 20px;
}

.DeleteReservation {
  background-color: #4cafa8;
  color: rgba(255, 255, 255, 0.696); 
  border: none; 
  padding: 10px 20px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;
  cursor: pointer; 
  background-image: linear-gradient(
    to bottom,
    red,
    red
  ); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  transition-duration: 0.3s; 
  height: 40px; 
  background-color: #45a049; 
  margin-left: 20px; 
}

.input {
  width: 200px;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
}

.inputCarId {
  width: 200px;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-left: 10px;
}

.UserRole {
  width: 400px;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-left: 10px;
}

.searchCar {
  background-color: #4cafa8;
  color: rgba(255, 255, 255, 0.696);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #5c4caf, #4548a0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 200px;
  height: 40px;
  background-color: #45a049;
  margin-left: 10px;
}

.addAllVehicules {
  background-color: #4cafa8;
  color: rgba(255, 255, 255, 0.696);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    #5c4caf,
    #4548a0
  ); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 400px;
  height: 40px;
  background-color: #45a049;
  margin-left: 10px;
  margin-top: 5px;
}
