
.showReservationData{
    background-color: #4cafa8; 
    color: rgba(255, 255, 255, 0.696); 
    border: none;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s; 
    width: 200px;
    height: 40px; 
    background-color: #45A049;
    margin-left: 20px; 
  }
  
  .UserNameSearch{
    background-color: #4cafa8; 
    color: rgba(255, 255, 255, 0.696); 
    border: none; 
    padding: 10px 20px;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    width: 200px;
    height: 40px; 
    background-color: #45A049;
    margin-left: 20px; 
  }
  
  .DeleteReservation{
    background-color: #4cafa8;
    color: rgba(255, 255, 255, 0.696); 
    border: none;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    background-image: linear-gradient(to bottom, red, red);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: 40px; 
    background-color: #45A049; 
   }
  
  .input{
    width:200px;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 7px;
  }
  
  .BoardModerator{
    margin-left: 5px;
  }

  .ImgAllReservation{
    margin-bottom:10px;
    margin-top:10px;
    max-width: 600px; 
    max-height: 350px; 
  }