.Buchung {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  margin: 10px;
  background-color: lightgray;
}

.Choice{
  width:200px;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.Selection{
  background-color: #4cafa8; 
  color: rgba(255, 255, 255, 0.696); 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  background-image: linear-gradient(to bottom, #5c4caf, #4548a0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  transition-duration: 0.3s; 
  width: 200p;
  height: 40px; 
  background-color: #a04594e5;
  margin-left: 20px; 
}

.reservationMake{
  background-color: #4cafa8; 
  color: rgba(255, 255, 255, 0.696); 
  border: none;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  background-image: linear-gradient(to bottom,green , green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  width: 200px; 
  height: 40px; 
  background-color: rgba(101, 160, 69, 0.898); 
  margin-left: 20px; 

}
.ImgBuchung{
  margin-bottom:10px;
  margin-top:10px;
  max-width: 900px; 
  max-height: 700px; 
}