

.password-input-wrapper {
    position: relative;
  }
  
  .password-input {
  }
  
   .password-toggle-btn { 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
  } 
   
 
  .profile-img-card {
    width: 96px;
    height: 90px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 20%;
    -webkit-border-radius: 30%;
    border-radius: 40%;
  }

  .loginContainer {
    margin-top: 450px;
    margin-left: 1200px;
    padding: 40px 45px;
    background-color: rgba(0, 0, 0, 0.058);
    width: 450px;
    margin-bottom: 30px; 
    height: 400px; 
  }
  

  .container_wrapper{
    display:flex;
    padding: 0 250px;

  }

  @media screen and (max-width:1000px) {
    .container_wrapper{
      padding: 0;
    }
  }


  .buttonLogin {
    background-color: #4cafa8;
    color: rgba(134, 28, 28, 0.996);
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition-duration: 0.3s; 
    width: 350px;
    height: 50px; 
    background-color: #45A049;
    margin-top: 20px; 

  }