
.register-wrapper{
    padding: 0 200px;
}

.register-container {

    background-color: rgba(0, 0, 0, 0.034); 
    margin-top: 120px;
    margin-left: 1000px;
    padding: 30px 40px;
    width: 600px; 
    height: 1050px;
    
  }
  .form-control {
    background-color: rgba(128, 128, 128, 0.5); 
   
  }
  label {
    color: rgb(121, 200, 184); 
  }


  .registration-container {
    display: flex;
    justify-content: center;
    
  }
  
  @media screen and (max-width:1000px) {
    .register-wrapper{
      padding: 0;
    }
  }

  
  .buttonRegister {
    background-color: #4cafa8; 
    color: rgba(134, 28, 28, 0.996); 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
    width: 517px;
    height: 50px; 
    background-color: #45A049; 
    margin-top: 20px; 

  }