.userInfo {
  background-color: rgba(0, 0, 0, 0.034); 
  margin-top: 90px;
  margin-left: 1000px;
  padding: 30px 40px;
  width: 600px; 
  height: 1250px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}
  
  
  .userInfo label {
    font-weight: bold;
    margin-bottom: 0.5;
   
  }
  
  .userInfo input {
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5); 
    margin: 15px;
    width: 300px;
    height: 40px; 
   
  }
  .userInfo select {
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5); 
    margin: 15px;
    width: 300px;
    height: 40px; 
   
  }
  
  

  .UserInfo_button {
    background-color: #4cafa8; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    background-image: linear-gradient(to bottom, #5c4caf, #4548a0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
    width: 300px;
    height: 50px; 
    background-color: #45A049; 
    margin-top: 20px; 

  }
