.background-image {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpictwallp.github.io%2Fcar-wallpaper%2Foled-car-wallpapers%2F&psig=AOvVaw04IfdCU3GEm4SPTRuOENJG&ust=1687590095255000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPCPmpPp2P8CFQAAAAAdAAAAABAI');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  